<style>
  .awardsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .awardsStickers {
    max-width: 120px;
    margin: 10px;
  }

  #noMarginBottom {
    margin-bottom: 0 !important;
  }

  .text-center {
    text-align: center;
  }

  .noMargins {
    margin: 0;
  }
</style>

<div class="section-header text-center" id="noMarginBottom">
  <h2 class="h2">BEST SPECIALTY COFFEE ROASTER</h2>
</div>

<div class="awardsContainer">
  <img
    width="120"
    height="120"
    class="awardsStickers"
    src="https://cdn.shopify.com/s/files/1/0831/4141/files/2019new.png?v=1587662473"
    alt="Award for Best Specialty Coffee Roaster in Europe and Middle East, 2019"
    loading="lazy">
  <img
    width="120"
    height="120"
    class="awardsStickers"
    src="https://cdn.shopify.com/s/files/1/0831/4141/files/2018new.png?v=1587662468"
    alt="Award for Best Independent Specialty Coffeeshop Europe, 2018"
    loading="eager">
</div>

<div class="section-header text-center" id="noMarginBottom">
  <p class="noMargins">We roast some of the best coffees on the planet.</p>
</div>