<style>
  .icons-container
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .icons-subcontainer
  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 10%;
    max-width:135px;
  }
  
  .small-icon
  {
    height: 80px;
	object-fit: contain;
    padding: 3%;
    margin: 10px;
    border: none !important;
  }
  
  .icons-title
  {
    text-transform: uppercase;
    text-align: center;
    padding:5px;
  }
  
  .icons-subtitle
  {
    text-wrap: wrap;
    text-align: center;
    
    font-size: 1.3rem;
    letter-spacing: .13rem;
    line-height: calc(1 + .2 / var(--font-body-scale));
  }
  .section-template--16083381879051__1651574465fc19c571-padding{
  	padding:100px 0 100px 0 !important;
  }

  @media screen and (max-width: 800px)
    {
      .icons-subcontainer
      {
        flex: 40%;
      }
    }
</style>

<div class="page-width">
<div class="icons-container">
  <div class="icons-subcontainer">
   <img  class="small-icon"src="https://cdn.shopify.com/s/files/1/0831/4141/files/Flower.gif?v=1653644994" height="100%"  >
    <h5 class="icons-title">seasonal quality</h5>

  </div>
  
  <div class="icons-subcontainer">
    <img src="https://cdn.shopify.com/s/files/1/0643/2224/0731/files/Box.svg?v=1651574617" class="small-icon">
    <h5 class="icons-title">shipping globally</h5>

  </div>
    
  <div class="icons-subcontainer">  
    <img src="https://cdn.shopify.com/s/files/1/0643/2224/0731/files/Scale.svg?v=1651574618" class="small-icon">
    <h5 class="icons-title">carefully curated</h5>
   
  </div>
    
  <div class="icons-subcontainer">  
    <img src="https://cdn.shopify.com/s/files/1/0643/2224/0731/files/Roaster.svg?v=1651574617" class="small-icon">
    <h5 class="icons-title">roasted in berlin</h5>

  </div>  
</div>
</div>