{% comment %}Start GDPR_LC Manager{% endcomment%}
{% if request.design_mode %}{% section "GDPR_LC_Manager" %}{% else %}{% capture GDPR_LC_Manager %}{% section "GDPR_LC_Manager" %}{% endcapture %}{{ GDPR_LC_Manager | replace: '<div id="shopify-section-GDPR_LC_Manager" class="shopify-section">', '' | replace: '</div>' }}{% endif %}
{% comment %}End GDPR_LC Manager{% endcomment%}