<style>
body {
  background-color: #121212;
}

.icons-title, .icons-desc {
  color: #ffffff;
}

.small-icon-brew {
  max-height: 176px;
  min-width: 140px;
  margin-bottom: -30px;
  object-fit: cover;
}

.small-icon {
  max-height: 176px;
  min-width: 140px;
  margin-bottom: -30px;
  object-fit: contain;
}

.icons-container{
  display:flex;
  height: auto;
  width: auto;
  margin: 0 auto;
  text-align: center;
  gap: 88px;
}

.icons-title {
  font-size: 1.3rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
}

.icons-desc {
  font-size: 1.1rem;
}


@media only screen and (max-width: 1200px) 
{
  .icons-container{
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: center;
  }
  
  .icons-subcontainer {
      min-width: 45%;
      flex-basis: 48%;
  }
  
}

  
@media only screen and (max-width: 850px) 
{
  .icons-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .icons-subcontainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  
  .small-icon {
  max-height: 80px;
  min-width: 80px;
  object-fit: cover;
}
  
  .small-icon-brew {
  max-height: 100px;
  min-width: 100px;
  object-fit:contain;
  margin-left: -10px;
 
}
  .icons-container {
    text-align: left;
  }

  .icons-desc {
    margin-top: 8px;
  }
  
}
</style>

<body>
<div class="page-width">
<div class="icons-container">
<div class="icons-subcontainer">
<img class=" small-icon "src="https://cdn.shopify.com/s/files/1/0831/4141/files/Style_2_d5791f83-e531-4af3-8919-a7ca5442425c.gif?v=1667308038">
<div class=txt-block>
<p class="icons-title">Choose your style</p>
<p class="icons-desc">Pick your preferred brew method and coffee style. Our coffees are seasonally rotating and single origin.</p>
</div>
</div>
  
<div class="icons-subcontainer">
<img src="https://cdn.shopify.com/s/files/1/0831/4141/files/Receive_Fresh_2.gif?v=1667214440" class="small-icon">
<div class=txt-block>
<p class="icons-title"> Receive fresh roast at home</p>
<p class="icons-desc">We pack your beans fresh after roasting them carefully. Your box will arrive packed with delicious coffees.</p>
</div>
</div>
    
<div class="icons-subcontainer">  
<img src="https://cdn.shopify.com/s/files/1/0831/4141/files/bezbg.gif?v=1664532097" class="small-icon-brew">
<div class=txt-block>
<p class="icons-title">Enjoy delicious coffee</p>
<p class="icons-desc">No matter how you brew our beans, your taste buds will thank you. No sugar or additives needed.</p>
</div>
</div>  
</div>
</div>
<body>