{% comment %}
    Display by adding 

    {%render 'thebarn.product_card.badge_tastenote' , card_product:card_product , show_vendor:show_vendor %}
{%endcomment%}

{% if show_vendor == false%}

    <div class="card__50_50__grid">
    {% assign tastenotes = card_product.metafields.custom.taste_notes | split: "." %}
     {% if tastenotes.size > 1 %}
       <div class = "card_tastnote_text" style="grid-area: a;"> <p style= "height:fit-content; margin: 0px;"> {{ tastenotes.first |downcase}} </p> </div>
       <div class = "card_tastnote_text"  style="grid-area: b;"> <p style= "height:fit-content; margin: 0px;"> {{ tastenotes[1] |downcase}} </p> </div>
     {% else %}
      <p class="card_tastnote_text"style="text-transform: capitalize; grid-area: a; grid-column: span 2;"> {{ card_product.metafields.custom.taste_notes|escape |downcase }}</p>
     {% endif %} 

   </div>
   
{% endif %}   

