{{ 'thebarn.product_card.css' | asset_url | stylesheet_tag }}

{% if   card_product.metafields.custom.taste_notes%}
    <hr style="margin:10px 0">
    <div class="card__50_50__grid">
       <p style="text-transform: capitalize;
                   text-align: center;
                   background-color: #698972;
                   font-size: 12px;
                   width: 100%;
                   padding: 3px;
                   min-height: 24px; 
                   height:fit-content;
                   margin:0px;
                   grid-area: a;" > {{ card_product.metafields.custom.region|escape |downcase }}</p>
    
   </div>
    <hr style="margin:10px 0 0 0">
{% endif %}   

