<style>
.career-container{
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 3rem;
  margin-top: 5rem;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  line-height: 1.5;
  border-radius: 0.2rem;
}
img{
    max-width: 100%;
    height: auto;
}
.career-container span{
    font-style: italic;
}
.career-container h4{
    margin-bottom: 0;
}

.career-container .img{
  width: 100%;
}
.career-body{
  display:flex;
  flex-direction:column;
  align-items:center;
  width: 100%;
  line-height: 1.8;
}

.career-text{
  color: black;
}
.career-name{
  display:flex;
  flex-direction:column;
  align-items:center;
  color:black;
}
@media only screen and (max-width: 768px) {
    .career-container{
        flex-direction: column;
    }
  }
</style>
{%for career in shop.metaobjects.career.values  %}
  <div class="career-container">
    <div class="img">
        <img src="{{career.photo |img_url:'500x' }}" alt="career" loading='lazy' height= '' width=''>
    </div>
    <div class="career-body">
        <h2 class="career-name">{{ career.name }}</h2>
        <p class="career-text">{{ career.description }}</p>
        <a href="{{ career.collection_link }}" class="button button--primary">Apply Here</a>
    </div>
  </div>
{% endfor %}
{% schema %}
  {
    "name": "Career",
    "settings": [],
    "presets": [{
        "name": "Career",
        "category": "Text"
  }]
  }
{% endschema %}