<style>
  .careers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3rem;
  }
  .career-container {
    flex-basis: 100%;
    max-width: calc(33.33% - 2rem);
    background-color: #f6f6f;
    padding: 3rem;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    line-height: 1.5;
    border-radius: 0.2rem;
  }
img{
    max-width: 100%;
    height: auto;
}
.career-container span{
    font-style: italic;
}
.career-container h4{
    margin-bottom: 0;
}

.career-container .img{
  width: 100%;
}
.career-body{
  display:flex;
  flex-direction:column;
  align-items:center;
  width: 100%;
  line-height: 1.8;
}

.career-text{
  display:flex;
  flex-direction:column;
  align-items:center;
  color:white;
  text-align: center;
  margin-top:0px;
}
.career-name{
  display:flex;
  flex-direction:column;
  align-items:center;
  color:white;
  text-align: center;

}
@media only screen and (min-width: 990px) {
    .careers-container{
        display: flex;
        background-color:red;
        flex-direction: row;
        padding: 3rem;
}
  .career-container{
        flex-direction: column;
    }
  
  }
</style>

<div class="careers-container">
  {% for career in shop.metaobjects.career.values %}
    <div class="career-container">
      <div class="img">
        <img src="{{ career.photo | img_url:'500x' }}" alt="career" loading="lazy" height="" width="">
      </div>
      <div class="career-body">
        <h2 class="career-name">{{ career.name }}</h2>
        <p class="career-text">{{ career.description }}</p>
        <a href="{{ career.collection_link }}" class="button button--primary">Apply Here</a>
      </div>
    </div>
  {% endfor %}
</div>


{% schema %}
  {
    "name": "Career",
    "settings": [],
    "presets": [{
        "name": "Career",
        "category": "Text"
  }]
  }
{% endschema %}