{{ 'snowflakes.css' | asset_url | stylesheet_tag }}

{% schema %}
{
  "name": "Snow Columns",
  "presets": [
    {
      "name": "Snow Columns",
      "category": "Custom"
    }
  ]
}
{% endschema %}


<div class="snowflakes" aria-hidden="true">
  <div class="snowflake">
  ❅
  </div>
  <div class="snowflake">
  ❅
  </div>
  <div class="snowflake">
  ❆
  </div>
  <div class="snowflake">
  ❄
  </div>
  <div class="snowflake">
  ❅
  </div>
  <div class="snowflake">
  ❆
  </div>
  <div class="snowflake">
  ❄
  </div>
  <div class="snowflake">
  ❅
  </div>
  <div class="snowflake">
  ❆
  </div>
  <div class="snowflake">
  ❄
  </div>
</div>
