<h2>{{ section.settings.h2_Heading }}</h2>

<style>
  h2 {
    font-size:100px;
  }
</style>

{% schema %}
{
  "name": "h2_Heading",
  "settings": [
                  {
                    "type":"text",
                    "label":"h2 Heading",
                    "id":"h2_Heading"
                  }
              ],
  "presets":[
      {
        "name":"h2 Heading"
      }
    ]
}
{% endschema %}
