<style>

@media only screen and (min-width: 990px) {

 
  
  }
</style>

  {% for kranzler_events in shop.metaobjects.kranzler_events.values %}
    <div class="career-container">
      <div class="img">
        <img src="{{ kranzler_events.image | img_url:'500x' }}" alt="career" loading="lazy" height="" width="">
      </div>
      <div class="kranzler_events-body">
        <h1 class="kranzler_events-title">{{ kranzler_events.title_1 }}</h1>
        <p class="kranzler_events-description-1">{{ kranzler_events.description_1 }}</p>
      </div>
    </div>
  {% endfor %}
  


{% schema %}
  {
    "name": "Kranzler_Events",
    "settings": [],
    "presets": [{
        "name": "Kranzler_Events",
        "category": "Text"
  }]
  }
{% endschema %}