<style>


  
  @media only screen and (min-width: 990px) {
  
  }
</style>

<div class="location-container">
  {% for location in shop.metaobjects.location.values %}
    <div class="">
      <div class="">
        <img src="{{ location.image | img_url:'500x' }}" alt="location" loading="lazy" height="" width="">
      </div>
      <div class="location-body">
        <h2 class="location-name">{{ location.name }}</h2>
        <p class="location-address">{{ location.address }}</p>
      </div>
    </div>
  {% endfor %}
</div>
<script>

</script>



{% schema %}
  {
    "name": "Location",
    "presets": [{
        "name": "Location",
        "category": "Text"
  }]
  }
{% endschema %}