<style>

@media only screen and (min-width: 990px) {


</style>

<div class="Subscription-Test-Filter">

</div>

{% schema %}
  {
    "name": "Subscription-Test-Filter",
    "settings": [],
    "presets": [{
        "name": "Subscription-Test-Filter",
        "category": "Text"
  }]
  }
{% endschema %}