<style>
  h4 {
    color: white;
  }
</style>

<div class="Subscription-Test-Filter">
  <h4>he</h4>
</div>

{% schema %}
  {
    "name": "Subscription-Test-Filter",
    "settings": [],
    "presets": [
      {
        "name": "Subscription-Test-Filter",
        "category": "Text"
      }
    ]
  }
{% endschema %}