/* PageFly Element Styles */
						.bLdkaR::before, .bLdkaR::after { clear: both; display: block; content: ""; }
.hsMvSR__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.hsMvSR { padding: 15px 0px; position: relative; }
.hsMvSR .sc-eKZiaR { position: relative; }
.hsMvSR[data-container="true"] .sc-eKZiaR { padding: 0px 15px; width: 100%; margin: auto; }
.hsMvSR .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.eFjulw { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) { 
  .eFjulw { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) { 
  .eFjulw { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) { 
  .eFjulw { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.elofQi { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) { 
  .elofQi { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) { 
  .elofQi { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) { 
  .elofQi { padding: var(--pf-s-xs); }
}
.dgFwhv { position: relative; }
.fbDPVD { word-break: break-word; }
.fbDPVD span { font-weight: inherit; }
.fbDPVD i { margin-right: 0.3em; }
.iSYQTX { display: inline-block; }
.iSYQTX[contenteditable="true"] { -webkit-user-select: text; }
.iSYQTX { vertical-align: baseline; word-break: break-word; }
.iSYQTX:focus { outline: none; }
.iSYQTX::after { display: inline; }
.kWaRSX > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .kWaRSX[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable] { display: block; }
#editor-dnd-wrapper .kWaRSX[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable]:empty::after { display: inline; }
.kWaRSX[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.kWaRSX[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.kWaRSX.dropcap--none > span:first-child { text-align: inherit; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background-image: none !important; background-position: initial initial !important; background-repeat: initial initial !important; }
.kWaRSX.dropcap--circle > span:first-child { border-top-left-radius: 100%; border-top-right-radius: 100%; border-bottom-right-radius: 100%; border-bottom-left-radius: 100%; }
.kWaRSX:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.kWaRSX ol, .kWaRSX ul { list-style-position: inside; }
.kWaRSX blockquote { font-size: inherit; }
.dcUDov div { display: flex; -webkit-box-align: center; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.dcUDov div::before, .dcUDov div::after { content: ""; width: 100%; border-top-width: 1em; border-top-style: solid; }
.dcUDov > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.dcUDov span > span { vertical-align: middle; }
.iUlIqN { position: relative; }
.bYxyPQ { min-height: 30px; }
.Utth { display: inline-flex; vertical-align: middle; }
.Utth picture { width: 100%; }
.kDYfzi { overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; vertical-align: middle; max-width: 100%; }
.kDYfzi img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; position: unset; }
.bKnLWi { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration-line: none; text-decoration: none; outline: 0px; }
.bKnLWi i { margin-right: 0.3em; }
.bKnLWi:hover, .bKnLWi:active, .bKnLWi:focus, .bKnLWi span { color: inherit; text-decoration-line: none; text-decoration: none; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-59c5539e {
		text-align: center;
		 padding-top: 30px;
	}
	.__pf .pf-bf68c271 {
		text-align: center;
		 font-size: 18px;
	}
	.__pf .pf-e782df3d {
		background-color: rgba(0, 0, 0, 0.498039);
		 padding: 20px;
	}
	.__pf .pf-08619281 {
		min-height: 450px;
		 background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-7e0e3dcd-ed6a-468a-bc25-d37db2231410--Frontcorrectedweb.jpg?221415");
		 background-size: cover;
		 background-position: 50% 100%;
		 background-repeat: no-repeat no-repeat;
	}
	.__pf .pf-79d18d23 {
		margin: 0px 0px 0px -30px;
	}
	.__pf .pf-e7b457be {
		margin-left: -30px;
		 margin-right: -30px;
	}
	.__pf .pf-004525f5 {
		display: block;
		 width: 100%;
		 padding-bottom: 70%;
		 height: 0px;
		 background-size: cover;
		 position: relative;
		 overflow: hidden;
		 align-self: flex-start;
		 background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-207c044e-59ce-4bfa-af18-d395556c4835--3.jpg?220797");
		 background-position: 50% 50%;
		 background-repeat: no-repeat no-repeat;
	}
	.__pf .pf-ab212512 {
		text-align: center;
		 margin-bottom: 0px;
		 color: rgb(19, 18, 18);
		 width: 100%;
		 align-self: flex-start;
		 margin-top: 10px;
	}
	.__pf .pf-0400ff24 {
		text-align: justify;
		 margin-top: 0px;
		 color: rgb(19, 18, 18);
	}
	.__pf .pf-b675bb6b {
		text-align: center;
		 color: rgb(19, 18, 18);
		 width: 100%;
		 flex: 1 0 0%;
		 margin-top: 10px;
		 font-size: 14px;
	}
	.__pf .pf-e0895868 {
		overflow: hidden;
		 background-color: rgb(255, 255, 255);
		 box-shadow: rgba(0, 0, 0, 0.74902) 2px 2px 5px 0px;
		 padding-bottom: 20px;
		 text-align: center;
		 display: flex;
		 flex-flow: column wrap;
		 align-items: center;
		 justify-content: center;
	}
	.__pf .pf-450eb730 {
		display: block;
		 width: 100%;
		 padding-bottom: 70%;
		 height: 0px;
		 background-size: cover;
		 position: relative;
		 overflow: hidden;
		 align-self: flex-start;
		 background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-0f35bca3-f7e4-4fd4-9ea0-8d47ba33ce7b--6.jpg?220799");
		 background-position: 50% 50%;
		 background-repeat: no-repeat no-repeat;
	}
	.__pf .pf-4cbdf3e8 {
		text-align: center;
		 margin-bottom: 0px;
		 color: rgb(19, 18, 18);
		 width: 100%;
		 align-self: flex-start;
		 margin-top: 10px;
	}
	.__pf .pf-7ca0113f {
		text-align: center;
		 color: rgb(19, 18, 18);
	}
	.__pf .pf-12cd95b9 {
		text-align: center;
		 color: rgb(19, 18, 18);
		 width: 100%;
		 flex: 1 0 0%;
		 margin-top: 10px;
		 font-size: 14px;
	}
	.__pf .pf-10c171a6 {
		overflow: hidden;
		 background-color: rgb(255, 255, 255);
		 box-shadow: rgba(0, 0, 0, 0.74902) 2px 2px 5px 0px;
		 padding-bottom: 20px;
		 text-align: center;
		 display: flex;
		 flex-flow: column wrap;
		 align-items: center;
		 justify-content: center;
	}
	.__pf .pf-ef21bf9e {
		display: block;
		 width: 100%;
		 padding-bottom: 70%;
		 height: 0px;
		 background-size: cover;
		 position: relative;
		 overflow: hidden;
		 align-self: flex-start;
		 background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-3d7f40d7-0e51-448a-9215-82778673d04d--12.jpg?220801");
		 background-position: 50% 100%;
		 background-repeat: no-repeat no-repeat;
	}
	.__pf .pf-7a22725f {
		text-align: center;
		 margin-bottom: 0px;
		 color: rgb(19, 18, 18);
		 width: 100%;
		 align-self: flex-start;
		 margin-top: 10px;
	}
	.__pf .pf-0b6ef93e {
		text-align: center;
		 color: rgb(19, 18, 18);
	}
	.__pf .pf-fa1d73e8 {
		text-align: center;
		 color: rgb(19, 18, 18);
		 width: 100%;
		 flex: 1 0 0%;
		 margin-top: 10px;
		 font-size: 14px;
	}
	.__pf .pf-9f546bc1 {
		overflow: hidden;
		 background-color: rgb(255, 255, 255);
		 box-shadow: rgba(0, 0, 0, 0.74902) 2px 2px 5px 0px;
		 padding-bottom: 20px;
		 text-align: center;
		 display: flex;
		 flex-flow: column wrap;
		 align-items: center;
		 justify-content: center;
	}
	.__pf .pf-08faef89 {
		display: flex;
		 flex-flow: row wrap;
		 align-items: stretch;
		 align-content: center;
		 justify-content: center;
	}
	.__pf .pf-fca99489 {
		text-align: center;
	}
	.__pf .pf-8aa11c27 {
		margin: 0px 0px 0px -30px;
	}
	.__pf .pf-1a4aa026 {
		margin-left: -30px;
		 margin-right: -30px;
	}
	.__pf .pf-cbc4d915 {
		width: 100%;
		 height: auto;
		 align-self: flex-start;
	}
	.__pf .pf-8e638924 {
		position: absolute;
		 top: 30px;
		 right: -55px;
		 padding: 2px 60px;
		 transform: rotate(45deg);
		 color: rgb(0, 0, 0);
		 background-color: rgb(255, 255, 255);
	}
	.__pf .pf-8bf8a864 {
		text-align: left;
		 width: 100%;
		 margin-top: 10px;
		 align-self: flex-start;
	}
	.__pf .pf-5280780e {
		flex: 1 0 0%;
	}
	.__pf .pf-63946863 {
		background-color: rgb(104, 67, 27);
		 color: rgb(255, 255, 255);
		 margin: 5px auto 0px;
		 align-self: flex-end;
	}
	.__pf .pf-795922c3 {
		display: flex;
		 flex-flow: column wrap;
		 align-items: center;
		 justify-content: center;
		 position: relative;
		 overflow: hidden;
	}
	.__pf .pf-177cb2d5 {
		width: 100%;
		 height: auto;
		 align-self: flex-start;
	}
	.__pf .pf-2ff65f35 {
		text-align: left;
		 width: 100%;
		 margin-top: 10px;
		 align-self: flex-start;
	}
	.__pf .pf-34ad38fb {
		flex: 1 0 0%;
	}
	.__pf .pf-2c42d752 {
		background-color: rgb(104, 67, 27);
		 color: rgb(255, 255, 255);
		 margin: 5px auto 0px;
		 align-self: flex-end;
	}
	.__pf .pf-d23d3a0f {
		display: flex;
		 flex-flow: column wrap;
		 align-items: center;
		 justify-content: center;
		 position: relative;
		 overflow: hidden;
	}
	.__pf .pf-18f302ef {
		width: 100%;
		 height: auto;
		 align-self: flex-start;
	}
	.__pf .pf-d858f73c {
		text-align: left;
		 width: 100%;
		 margin-top: 10px;
		 align-self: flex-start;
	}
	.__pf .pf-834132d2 {
		flex: 1 0 0%;
	}
	.__pf .pf-21f3c12a {
		background-color: rgb(104, 67, 27);
		 color: rgb(255, 255, 255);
		 margin: 5px auto 0px;
		 align-self: flex-end;
	}
	.__pf .pf-b256fddf {
		display: flex;
		 flex-flow: column wrap;
		 align-items: center;
		 justify-content: center;
		 position: relative;
		 overflow: hidden;
	}
	.__pf .pf-fff70bf7 {
		width: 100%;
		 height: auto;
		 align-self: flex-start;
	}
	.__pf .pf-69c4692f {
		text-align: left;
		 width: 100%;
		 margin-top: 10px;
		 align-self: flex-start;
	}
	.__pf .pf-e27d68b3 {
		flex: 1 0 0%;
	}
	.__pf .pf-b5353e33 {
		background-color: rgb(104, 67, 27);
		 color: rgb(255, 255, 255);
		 margin: 5px auto 0px;
		 align-self: flex-end;
	}
	.__pf .pf-0ae8f937 {
		display: flex;
		 flex-flow: column wrap;
		 align-items: center;
		 justify-content: center;
		 position: relative;
		 overflow: hidden;
	}
	.__pf .pf-2f6219eb {
		width: 100%;
		 height: auto;
		 align-self: flex-start;
	}
	.__pf .pf-9bdb9d99 {
		text-align: left;
		 width: 100%;
		 margin-top: 10px;
		 align-self: flex-start;
	}
	.__pf .pf-a27310b0 {
		flex: 1 0 0%;
	}
	.__pf .pf-9f73e405 {
		background-color: rgb(104, 67, 27);
		 color: rgb(255, 255, 255);
		 margin: 5px auto 0px;
		 align-self: flex-end;
	}
	.__pf .pf-89908342 {
		display: flex;
		 flex-flow: column wrap;
		 align-items: center;
		 justify-content: center;
		 position: relative;
		 overflow: hidden;
	}
	.__pf .pf-c4b01774 {
		margin: 0px 0px 0px -30px;
	}
	.__pf .pf-4d8fa471 {
		margin-left: -30px;
		 margin-right: -30px;
	}
	.__pf .pf-1837d1e3 {
		text-align: center;
	}
	.__pf .pf-958baf72 {
		display: block;
		 width: 100%;
		 padding-bottom: 70%;
		 height: 0px;
		 background-size: cover;
		 position: relative;
		 overflow: hidden;
		 align-self: flex-start;
		 background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-bff76aab-e169-4d2c-96d2-640f6a931210--v60beginnerwithlabel.jpg?222842");
		 background-position: 50% 50%;
		 background-repeat: no-repeat no-repeat;
	}
	.__pf .pf-0a364680 {
		position: absolute;
		 top: 30px;
		 right: -40px;
		 padding: 2px 60px;
		 transform: rotate(45deg);
		 color: rgb(0, 0, 0);
		 background-color: rgb(255, 255, 255);
	}
	.__pf .pf-606eeb69 {
		text-align: center;
		 margin-bottom: 0px;
		 color: rgb(19, 18, 18);
		 width: 100%;
		 align-self: flex-start;
		 margin-top: 10px;
	}
	.__pf .pf-80bbaf67 {
		text-align: center;
		 color: rgb(19, 18, 18);
		 width: 100%;
		 flex: 1 0 0%;
		 margin-top: 10px;
		 font-size: 14px;
	}
	.__pf .pf-826075e1 {
		background-color: rgb(104, 67, 27);
		 color: rgb(255, 255, 255);
		 margin: 5px auto 0px;
		 align-self: flex-end;
	}
	.__pf .pf-84b1326d {
		overflow: hidden;
		 background-color: rgb(255, 255, 255);
		 box-shadow: rgba(0, 0, 0, 0.74902) 2px 2px 5px 0px;
		 padding-bottom: 20px;
		 text-align: center;
		 display: flex;
		 flex-flow: column wrap;
		 align-items: center;
		 justify-content: center;
	}
	.__pf .pf-e15595ca {
		display: block;
		 width: 100%;
		 padding-bottom: 70%;
		 height: 0px;
		 background-size: cover;
		 position: relative;
		 overflow: hidden;
		 align-self: flex-start;
		 background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-3e534a1c-a852-4c80-b44c-cc60e1f88f77--v60enthus.jpg?222850");
		 background-position: 50% 50%;
		 background-repeat: no-repeat no-repeat;
	}
	.__pf .pf-9a49be78 {
		position: absolute;
		 top: 30px;
		 right: -45px;
		 padding: 2px 60px;
		 transform: rotate(45deg);
		 color: rgb(0, 0, 0);
		 background-color: rgb(255, 255, 255);
	}
	.__pf .pf-cb640361 {
		text-align: center;
		 margin-bottom: 0px;
		 color: rgb(19, 18, 18);
		 width: 100%;
		 align-self: flex-start;
		 margin-top: 10px;
	}
	.__pf .pf-3a12c211 {
		text-align: center;
		 color: rgb(19, 18, 18);
		 width: 100%;
		 flex: 1 0 0%;
		 margin-top: 10px;
		 font-size: 14px;
	}
	.__pf .pf-a5e40115 {
		background-color: rgb(104, 67, 27);
		 color: rgb(255, 255, 255);
		 margin: 5px auto 0px;
		 align-self: flex-end;
	}
	.__pf .pf-eed7570e {
		overflow: hidden;
		 background-color: rgb(255, 255, 255);
		 box-shadow: rgba(0, 0, 0, 0.74902) 2px 2px 5px 0px;
		 padding-bottom: 20px;
		 text-align: center;
		 display: flex;
		 flex-flow: column wrap;
		 align-items: center;
		 justify-content: center;
	}
	.__pf .pf-351b1ce2 {
		display: block;
		 width: 100%;
		 padding-bottom: 70%;
		 height: 0px;
		 background-size: cover;
		 position: relative;
		 overflow: hidden;
		 align-self: flex-start;
		 background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-9d14ddfb-b493-47c2-acc2-7fdae1936583--v60pro.jpg?222840");
		 background-position: 50% 50%;
		 background-repeat: no-repeat no-repeat;
	}
	.__pf .pf-cf55134a {
		position: absolute;
		 top: 40px;
		 right: -60px;
		 padding: 2px 60px;
		 transform: rotate(45deg);
		 color: rgb(0, 0, 0);
		 background-color: rgb(255, 255, 255);
	}
	.__pf .pf-3014544b {
		text-align: center;
		 margin-bottom: 0px;
		 color: rgb(19, 18, 18);
		 width: 100%;
		 align-self: flex-start;
		 margin-top: 10px;
	}
	.__pf .pf-e8727704 {
		text-align: center;
		 color: rgb(19, 18, 18);
		 width: 100%;
		 flex: 1 0 0%;
		 margin-top: 10px;
		 font-size: 14px;
	}
	.__pf .pf-5fd77e13 {
		background-color: rgb(104, 67, 27);
		 color: rgb(255, 255, 255);
		 margin: 5px auto 0px;
		 align-self: flex-end;
	}
	.__pf .pf-0bc911fd {
		overflow: hidden;
		 background-color: rgb(255, 255, 255);
		 box-shadow: rgba(0, 0, 0, 0.74902) 2px 2px 5px 0px;
		 padding-bottom: 20px;
		 text-align: center;
		 display: flex;
		 flex-flow: column wrap;
		 align-items: center;
		 justify-content: center;
	}
	.__pf .pf-9ba42895 {
		display: flex;
		 flex-flow: row wrap;
		 align-items: stretch;
		 align-content: center;
		 justify-content: center;
	}
	.__pf .pf-e64d333d {
		text-transform: uppercase;
		 text-align: center;
	}
	.__pf .pf-aafd5ea5 {
		text-align: justify;
		 font-size: 21px;
	}
	.__pf .pf-4dcba265 {
		background-color: rgb(104, 67, 27);
		 color: rgb(255, 255, 255);
		 margin: 5px auto 0px;
		 align-self: flex-end;
	}
	.__pf .pf-fa50e6a4 {
		text-align: center;
	}
	.__pf .pf-58d3375b {
		background-color: rgba(0, 0, 0, 0.6);
		 padding-top: 20px;
		 padding-bottom: 15px;
	}
	.__pf .pf-e13feed7 {
		background-size: cover;
		 height: 98vh;
		 min-height: 400px;
		 display: flex;
		 flex-flow: row wrap;
		 align-items: flex-start;
		 align-content: flex-start;
		 justify-content: space-around;
		 position: relative;
		 background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-29552c13-e47f-473b-b217-efea1da01243--IMG5642.JPG?223418");
		 background-position: 50% 50%;
		 background-repeat: no-repeat no-repeat;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-bf68c271 {
		font-size: 16px;
		 line-height: 1.4em;
	}
	.__pf .pf-08619281 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-7e0e3dcd-ed6a-468a-bc25-d37db2231410--Frontcorrectedweb.jpg?221415");
	}
	.__pf .pf-79d18d23 {
		margin-left: 0px;
	}
	.__pf .pf-e7b457be {
		margin: 0px 0px 15px;
		 padding-left: 0px;
	}
	.__pf .pf-004525f5 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-207c044e-59ce-4bfa-af18-d395556c4835--3.jpg?220797");
	}
	.__pf .pf-450eb730 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-0f35bca3-f7e4-4fd4-9ea0-8d47ba33ce7b--6.jpg?220799");
	}
	.__pf .pf-ef21bf9e {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-3d7f40d7-0e51-448a-9215-82778673d04d--12.jpg?220801");
	}
	.__pf .pf-8aa11c27 {
		margin-left: 0px;
	}
	.__pf .pf-1a4aa026 {
		margin: 0px 0px 15px;
		 padding-left: 0px;
	}
	.__pf .pf-c4b01774 {
		margin-left: 0px;
	}
	.__pf .pf-4d8fa471 {
		margin: 0px 0px 15px;
		 padding-left: 0px;
	}
	.__pf .pf-958baf72 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-bff76aab-e169-4d2c-96d2-640f6a931210--v60beginnerwithlabel.jpg?222842");
	}
	.__pf .pf-80bbaf67 {
		font-size: 14px;
		 margin-bottom: 0px;
	}
	.__pf .pf-e15595ca {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-3e534a1c-a852-4c80-b44c-cc60e1f88f77--v60enthus.jpg?222850");
	}
	.__pf .pf-3a12c211 {
		font-size: 14px;
		 margin-bottom: 0px;
	}
	.__pf .pf-351b1ce2 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-9d14ddfb-b493-47c2-acc2-7fdae1936583--v60pro.jpg?222840");
	}
	.__pf .pf-e8727704 {
		font-size: 14px;
		 margin-bottom: 0px;
	}
	.__pf .pf-aafd5ea5 {
		font-size: 16px;
		 line-height: 1.4em;
	}
	.__pf .pf-fa50e6a4 {
		padding: 0px 30px;
	}
	.__pf .pf-58d3375b {
		width: 100%;
		 height: 100%;
		 margin-left: 0px;
		 margin-right: 0px;
		 padding: 0px;
	}
	.__pf .pf-e13feed7 {
		min-height: 0px;
		 display: block;
		 height: auto;
		 position: relative;
		 padding: 0px;
		 background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-29552c13-e47f-473b-b217-efea1da01243--IMG5642.JPG?223418");
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-08619281 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-7e0e3dcd-ed6a-468a-bc25-d37db2231410--Frontcorrectedweb.jpg?221415");
	}
	.__pf .pf-79d18d23 {
		margin-left: 0px;
	}
	.__pf .pf-e7b457be {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-004525f5 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-207c044e-59ce-4bfa-af18-d395556c4835--3.jpg?220797");
	}
	.__pf .pf-450eb730 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-0f35bca3-f7e4-4fd4-9ea0-8d47ba33ce7b--6.jpg?220799");
	}
	.__pf .pf-ef21bf9e {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-3d7f40d7-0e51-448a-9215-82778673d04d--12.jpg?220801");
	}
	.__pf .pf-8aa11c27 {
		margin-left: 0px;
	}
	.__pf .pf-1a4aa026 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-c4b01774 {
		margin-left: 0px;
	}
	.__pf .pf-4d8fa471 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-958baf72 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-bff76aab-e169-4d2c-96d2-640f6a931210--v60beginnerwithlabel.jpg?222842");
	}
	.__pf .pf-e15595ca {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-3e534a1c-a852-4c80-b44c-cc60e1f88f77--v60enthus.jpg?222850");
	}
	.__pf .pf-351b1ce2 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-9d14ddfb-b493-47c2-acc2-7fdae1936583--v60pro.jpg?222840");
	}
	.__pf .pf-58d3375b {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-e13feed7 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-29552c13-e47f-473b-b217-efea1da01243--IMG5642.JPG?223418");
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-08619281 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-7e0e3dcd-ed6a-468a-bc25-d37db2231410--Frontcorrectedweb.jpg?221415");
	}
	.__pf .pf-79d18d23 {
		margin-left: 0px;
	}
	.__pf .pf-e7b457be {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-004525f5 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-207c044e-59ce-4bfa-af18-d395556c4835--3.jpg?220797");
	}
	.__pf .pf-450eb730 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-0f35bca3-f7e4-4fd4-9ea0-8d47ba33ce7b--6.jpg?220799");
	}
	.__pf .pf-ef21bf9e {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-3d7f40d7-0e51-448a-9215-82778673d04d--12.jpg?220801");
	}
	.__pf .pf-8aa11c27 {
		margin-left: 0px;
	}
	.__pf .pf-1a4aa026 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-c4b01774 {
		margin-left: 0px;
	}
	.__pf .pf-4d8fa471 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-958baf72 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-bff76aab-e169-4d2c-96d2-640f6a931210--v60beginnerwithlabel.jpg?222842");
	}
	.__pf .pf-e15595ca {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-3e534a1c-a852-4c80-b44c-cc60e1f88f77--v60enthus.jpg?222850");
	}
	.__pf .pf-351b1ce2 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-9d14ddfb-b493-47c2-acc2-7fdae1936583--v60pro.jpg?222840");
	}
	.__pf .pf-58d3375b {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-e13feed7 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-29552c13-e47f-473b-b217-efea1da01243--IMG5642.JPG?223418");
	}
}
						/* Extra CSS for lazy loading background image */
						.pf-bg-lazy { background-image: none !important; }