/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.fLDHlO { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.fLDHlO img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.gtZHgp { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; overflow: hidden; }
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.HrWqm > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable] { display: block; }
#editor-dnd-wrapper .HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable]:empty::after { display: inline; }
.HrWqm[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.HrWqm.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.HrWqm.dropcap--circle > span:first-child { border-radius: 100%; }
.HrWqm:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.HrWqm ol, .HrWqm ul { list-style-position: inside; }
.HrWqm blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-eb1938a7 {
		text-align: center;
		 font-size: 31px;
		 margin-bottom: 0px;
		 padding-top: 60px;
	}
	.__pf .pf-84e5a004 {
		text-align: center;
	}
	.__pf .pf-a4e30a29 {
		min-height: 300px;
		 background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-8c5c23c9-230c-42b2-88fa-70857ceab0ff--DSF0267.jpg?55409");
		 background-position: 50% 50%;
		 background-repeat: no-repeat;
		 background-size: cover;
		 background-color: rgba(0, 0, 0, 0);
		 display: flex;
		 flex-direction: column;
		 align-items: center;
		 place-content: center;
	}
	.__pf .pf-e3d98c10 {
		text-align: center;
	}
	.__pf .pf-dc3e0df3 {
		border-style: solid;
		 border-width: 1px;
		 border-color: rgb(255, 255, 255);
		 padding: 10px;
		 border-radius: 100%;
		 justify-content: center;
		 align-items: center;
		 width: 80px;
		 margin-bottom: 10px;
		 background-color: white;
	}
	.__pf .pf-8c4f8b8a {
		margin-bottom: 10px;
		 font-size: 18px;
		 margin-top: 20px;
	}
	.__pf .pf-409d1c9a {
		text-align: justify;
		 color: rgb(255, 255, 255);
		 margin-top: 10px;
		 padding-left: 2px;
	}
	.__pf .pf-d0eb77b5 {
		display: flex;
		 flex-direction: column;
		 align-items: center;
		 place-content: center flex-start;
		 padding-left: 40px;
		 padding-right: 40px;
	}
	.__pf .pf-14b54659 {
		border-style: solid;
		 border-width: 1px;
		 border-color: rgb(255, 255, 255);
		 padding: 10px;
		 border-radius: 100%;
		 justify-content: center;
		 align-items: center;
		 width: 80px;
		 margin-bottom: 10px;
		 background-color: white;
	}
	.__pf .pf-4cb7dd67 {
		margin-bottom: 10px;
		 font-size: 18px;
		 margin-top: 20px;
	}
	.__pf .pf-e6f54b47 {
		text-align: justify;
		 color: rgb(255, 255, 255);
		 margin-top: 10px;
	}
	.__pf .pf-dbe2065f {
		display: flex;
		 flex-direction: column;
		 align-items: center;
		 place-content: center flex-start;
		 padding-left: 40px;
		 padding-right: 40px;
	}
	.__pf .pf-14f658d3 {
		border-style: solid;
		 border-width: 1px;
		 border-color: rgb(255, 255, 255);
		 padding: 10px;
		 border-radius: 100%;
		 justify-content: center;
		 align-items: center;
		 width: 80px;
		 margin-bottom: 10px;
		 background-color: white;
	}
	.__pf .pf-ec0442ec {
		margin-bottom: 10px;
		 font-size: 18px;
		 margin-top: 20px;
	}
	.__pf .pf-26f68760 {
		text-align: justify;
		 color: rgb(255, 255, 255);
		 margin-top: 10px;
	}
	.__pf .pf-5cd4e814 {
		display: flex;
		 flex-direction: column;
		 align-items: center;
		 place-content: center flex-start;
		 padding-left: 40px;
		 padding-right: 40px;
	}
	.__pf .pf-7b390e99 {
		border-style: solid;
		 border-width: 1px;
		 border-color: rgb(255, 255, 255);
		 padding: 10px;
		 border-radius: 100%;
		 justify-content: center;
		 align-items: center;
		 width: 80px;
		 margin-bottom: 10px;
		 background-color: white;
	}
	.__pf .pf-416a610d {
		margin-bottom: 10px;
		 font-size: 18px;
		 margin-top: 20px;
	}
	.__pf .pf-5d5b372e {
		text-align: justify;
		 color: rgb(255, 255, 255);
		 margin-top: 10px;
	}
	.__pf .pf-b67dc4c0 {
		display: flex;
		 flex-direction: column;
		 align-items: center;
		 place-content: center flex-start;
		 padding-left: 40px;
		 padding-right: 40px;
	}
	.__pf .pf-2e0a3a80 {
		margin-top: 40px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-a4e30a29 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-8c5c23c9-230c-42b2-88fa-70857ceab0ff--DSF0267.jpg?55409");
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-a4e30a29 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-8c5c23c9-230c-42b2-88fa-70857ceab0ff--DSF0267.jpg?55409");
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-a4e30a29 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-8c5c23c9-230c-42b2-88fa-70857ceab0ff--DSF0267.jpg?55409");
	}
}
						