/* PageFly Element Styles */
						.kuwSuz { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.kuwSuz i { margin-right: 0.3em; }
.kuwSuz:hover, .kuwSuz:active, .kuwSuz:focus, .kuwSuz span { color: inherit; }
.kuwSuz span { display: initial; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.fLDHlO { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.fLDHlO img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.bgMQOP { position: relative; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.gtZHgp { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; overflow: hidden; }
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.HrWqm > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable] { display: block; }
#editor-dnd-wrapper .HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable]:empty::after { display: inline; }
.HrWqm[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.HrWqm.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.HrWqm.dropcap--circle > span:first-child { border-radius: 100%; }
.HrWqm:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.HrWqm ol, .HrWqm ul { list-style-position: inside; }
.HrWqm blockquote { font-size: inherit; }
.kpEQWN.pfs--topLeft { display: flex; align-items: flex-start; justify-content: flex-start; }
.kpEQWN.pfs--topCenter { display: flex; align-items: flex-start; justify-content: center; }
.kpEQWN.pfs--topRight { display: flex; align-items: flex-start; justify-content: flex-end; }
.kpEQWN.pfs--middleLeft { display: flex; align-items: center; justify-content: flex-start; }
.kpEQWN.pfs--center { display: flex; align-items: center; justify-content: center; }
.kpEQWN.pfs--middleRight { display: flex; align-items: center; justify-content: flex-end; }
.kpEQWN.pfs--bottomLeft { display: flex; align-items: flex-end; justify-content: flex-start; }
.kpEQWN.pfs--bottomCenter { display: flex; align-items: flex-end; justify-content: center; }
.kpEQWN.pfs--bottomRight { display: flex; align-items: flex-end; justify-content: flex-end; }
.kCAYOZ { visibility: hidden; }
.kCAYOZ.pf-slider-wrapper { overflow: hidden; position: relative; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-2, .kCAYOZ.pf-slider-wrapper:hover .nav-style-4 { opacity: 1; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-2.pf-prev-nav, .kCAYOZ.pf-slider-wrapper:hover .nav-style-4.pf-prev-nav { left: 20px; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-2.pf-next-nav, .kCAYOZ.pf-slider-wrapper:hover .nav-style-4.pf-next-nav { right: 20px; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-3 { opacity: 1; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-3.pf-prev-nav { left: 0px; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-3.pf-next-nav { right: 0px; }
.kCAYOZ.pf-slider-mouse-event-off > * { pointer-events: none; }
.kCAYOZ .pf-slider-inner { overflow: hidden; }
.kCAYOZ .pf-slider-slide { will-change: contents; position: absolute; transform: translate3d(100%, 0px, 0px); overflow: hidden; top: 0px; }
.kCAYOZ .pf-slider-nav { position: absolute; z-index: 999; cursor: pointer; border: 0px; background: transparent; top: 50%; transform: translateY(-50%); padding: 0px; transition: all 0.3s ease 0s; }
.kCAYOZ .pf-slider-nav:focus { outline: 0px; }
.kCAYOZ .pf-slider-nav::before { font-size: 14px; color: rgb(255, 255, 255); font-family: FontAwesome; }
.kCAYOZ .pf-slider-nav.nav-style-1 { width: 40px; height: 40px; line-height: 40px; justify-content: center; background: rgba(0, 0, 0, 0.4); border-radius: 100%; }
.kCAYOZ .pf-slider-nav.nav-style-1:hover { background: rgb(0, 0, 0); }
.kCAYOZ .pf-slider-nav.nav-style-1.pf-prev-nav { left: 20px; }
.kCAYOZ .pf-slider-nav.nav-style-1.pf-next-nav { right: 20px; }
.kCAYOZ .pf-slider-nav.nav-style-2, .kCAYOZ .pf-slider-nav.nav-style-4, .kCAYOZ .pf-slider-nav.nav-style-5 { width: 40px; height: 40px; line-height: 40px; justify-content: center; background: rgb(3, 3, 3); border-radius: 3px; opacity: 0; }
.kCAYOZ .pf-slider-nav.nav-style-2:hover, .kCAYOZ .pf-slider-nav.nav-style-4:hover, .kCAYOZ .pf-slider-nav.nav-style-5:hover { background: rgb(23, 23, 23); }
.kCAYOZ .pf-slider-nav.nav-style-2.pf-prev-nav, .kCAYOZ .pf-slider-nav.nav-style-4.pf-prev-nav, .kCAYOZ .pf-slider-nav.nav-style-5.pf-prev-nav { left: 40px; }
.kCAYOZ .pf-slider-nav.nav-style-2.pf-next-nav, .kCAYOZ .pf-slider-nav.nav-style-4.pf-next-nav, .kCAYOZ .pf-slider-nav.nav-style-5.pf-next-nav { right: 40px; }
.kCAYOZ .pf-slider-nav.nav-style-3 { padding: 20px; text-shadow: rgb(0, 0, 0) 0px 0px 1px; opacity: 0; }
.kCAYOZ .pf-slider-nav.nav-style-3::before { font-size: 24px; }
.kCAYOZ .pf-slider-nav.nav-style-3.pf-prev-nav { left: 40px; }
.kCAYOZ .pf-slider-nav.nav-style-3.pf-next-nav { right: 40px; }
.kCAYOZ .pf-slider-nav.nav-style-5 { top: auto; bottom: 5%; opacity: 1; }
.kCAYOZ .pf-slider-nav.nav-style-5.pf-prev-nav { right: 62px; border-radius: 3px 0px 0px 3px; }
.kCAYOZ .pf-slider-nav.nav-style-5.pf-next-nav { right: 20px; border-radius: 0px 3px 3px 0px; }
.kCAYOZ .pf-slider-nav-disabled { pointer-events: none; }
.kCAYOZ .pf-slider-pagination { position: absolute; bottom: 15px; left: 0px; width: 100%; padding: 0px; margin: 0px; text-align: center; z-index: 1; }
.kCAYOZ .pf-slider-pagination li { display: inline-block; margin: 0px 5px; background: rgb(187, 187, 187); opacity: 1; transition: all 0.3s ease 0s; cursor: pointer; }
.kCAYOZ .pf-slider-pagination li.active, .kCAYOZ .pf-slider-pagination li:hover { background: rgb(33, 33, 33); }
.kCAYOZ .pf-slider-pagination.pagination-style-1 li { width: 20px; height: 5px; }
.kCAYOZ .pf-slider-pagination.pagination-style-2 li { position: relative; width: 8px; height: 8px; background: transparent; }
.kCAYOZ .pf-slider-pagination.pagination-style-2 li::after { position: absolute; content: ""; left: -2px; top: -2px; width: 12px; height: 12px; border: 1px solid rgb(33, 33, 33); border-radius: 50%; }
.kCAYOZ .pf-slider-pagination.pagination-style-2 li.active { background: rgb(33, 33, 33); border-radius: 50%; }
.kCAYOZ .pf-slider-pagination.pagination-style-3 li { position: relative; width: 16px; height: 16px; border: 2px solid rgb(255, 255, 255); background: transparent; border-radius: 50%; }
.kCAYOZ .pf-slider-pagination.pagination-style-3 li.active::after { position: absolute; content: ""; top: 3px; left: 3px; right: 3px; bottom: 3px; width: 6px; border: 2px solid rgb(255, 255, 255); border-radius: 100%; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.dIjrXL::before, .dIjrXL::after { clear: both; display: block; content: ""; }
.uJAsR { border: none; outline: none; line-height: 1; padding: 12px 20px; cursor: pointer; background: rgb(235, 235, 235); position: relative; display: inline-flex; align-items: center; justify-content: center; }
.uJAsR[disabled] { opacity: 0.7; }
.uJAsR.is-loading, .uJAsR.is-added { pointer-events: none; }
.uJAsR > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.uJAsR.pf-i--left i { margin-right: 0.3em; }
.uJAsR + .sc-pcjuG, .uJAsR.pf-i--right i { margin-left: 0.3em; }
.jYlxvS[data-pf-type="ProductText"].no-product { text-decoration: none; }
.gluJHn { display: flex; flex-direction: column; }
.gluJHn label { margin: 0px; text-transform: initial; font-size: 80%; font-weight: 400; letter-spacing: 0px; }
.gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-xs); }
}
.gluJHn .pf-p-variant { display: flex; flex-direction: column; }
.gluJHn .pf-p-variant > label { margin: 0px 0px 8px; min-width: 40px; text-transform: uppercase; font-size: 100%; }
@media (min-width: 768px) {
}
.gluJHn select { min-height: 30px; cursor: pointer; border: 1px solid rgb(209, 213, 219); width: 100%; max-width: 100%; display: inline-block; padding: 6px 12px; line-height: 20px; border-radius: 4px; font-size: inherit; font-family: inherit; color: inherit; background-color: transparent; background-image: linear-gradient(45deg, transparent 50%, rgb(93, 107, 130) 50%), linear-gradient(135deg, rgb(93, 107, 130) 50%, transparent 50%); background-position: calc(100% - 20px) calc(0.7em + 3px), calc(100% - 15px) calc(0.7em + 3px), calc(100% - 0.5em) 0.5em; background-size: 5px 5px, 5px 5px, 1px 1.5em; background-repeat: no-repeat; margin: 0px; }
.gluJHn select:focus { outline: none; }
.gluJHn select option { color: inherit; }
.gluJHn .pf-p-variant-radio { display: inline-flex; align-items: center; flex-wrap: wrap; }
.gluJHn .pf-p-variant-radio:not(:last-child) { margin-right: 16px; }
.gluJHn .pf-p-variant-radio label { padding-left: 8px; }
@media (max-width: 767px) {
  .gluJHn { flex-direction: column; }
  .gluJHn label { display: block; }
  .gluJHn .pf-p-variant-radio { display: inline-flex; }
}
						/* PageFly Styles */
						
@media all {
	.__pf .pf-b3c1fea5 {
		color: rgb(255, 255, 255);
		 text-align: center;
		 font-size: 50px;
	}
	.__pf .pf-48a86cf2 {
		background-color: rgb(155, 155, 155);
		 display: flex;
		 flex-direction: column;
		 align-items: center;
		 place-content: center;
		 padding: 150px 0px;
		 min-height: 500px;
		 background-position: 50% 50%;
		 background-size: cover;
		 background-repeat: no-repeat;
		 background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-d05b128c-18d3-41ac-9a1a-67969735e961--DSC5296.jpg?217675");
	}
	.__pf .pf-ef2a897d {
		text-align: justify;
		 text-align-last: center;
		 font-size: 21px;
		 padding-top: 40px;
	}
	.__pf .pf-cee707d5 {
		margin-top: 0px;
		 margin-bottom: 10px;
		 font-weight: 700;
	}
	.__pf .pf-f1c3cce4 {
		margin-top: 0px;
		 margin-bottom: 10px;
		 font-weight: 700;
	}
	.__pf .pf-884ef4c3 {
		margin-top: 0px;
		 margin-bottom: 10px;
		 font-weight: 700;
	}
	.__pf .pf-6e49448d {
		margin-top: 0px;
		 margin-bottom: 10px;
		 font-weight: 700;
	}
	.__pf .pf-f84325dc {
		margin-top: 0px;
		 margin-bottom: 10px;
		 font-weight: 700;
	}
	.__pf .pf-dc89cd94 {
		background-color: rgb(104, 67, 27);
		 border-radius: 4px;
		 color: rgb(255, 255, 255);
		 text-transform: uppercase;
		 display: block;
		 width: 100%;
		 transition: all 150ms ease 0s;
		 margin-top: 25px;
	}
	.__pf .pf-dc89cd94:hover {
		background-color: rgba(104, 67, 27, 0.75);
	}
	.__pf .pf-787c7ca0 {
		margin-top: 5px;
		 margin-bottom: 0px;
		 width: 100%;
		 text-align: center;
		 color: rgba(255, 255, 255, 0.42);
		 font-size: 11px;
	}
	.__pf .pf-73452d4e {
		justify-content: center;
		 align-items: center;
		 width: 100%;
	}
	.__pf .pf-7c46ae6a {
		display: flex;
		 justify-content: flex-end;
	}
	.__pf .pf-9cb8411d {
		display: flex;
		 flex-direction: row;
		 align-items: center;
		 place-content: center;
	}
	.__pf .pf-d3d174d6 {
		text-align: center;
		 font-size: 25px;
	}
	.__pf .pf-0c1ee11a {
		display: block;
		 width: 100%;
		 padding-bottom: 70%;
		 height: 0px;
		 background-size: cover;
		 background-position: 50% 50%;
		 background-repeat: no-repeat;
		 background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-b913ee83-d42e-42f0-b324-0cd971e8a5f9--portafilter-1.jpg?217552");
	}
	.__pf .pf-976ce06e {
		text-align: center;
		 font-size: 14px;
		 margin-top: 8px;
	}
	.__pf .pf-cb8b9f0d {
		display: flex;
		 align-items: center;
		 place-content: center;
		 flex-direction: column;
	}
	.__pf .pf-6a191272 {
		display: block;
		 width: 100%;
		 padding-bottom: 70%;
		 height: 0px;
		 background-size: cover;
		 background-position: 50% 50%;
		 background-repeat: no-repeat;
		 background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-3e96c61c-cfc1-462f-81af-3df7ec87fdfd--grinding-2.JPG?217554");
	}
	.__pf .pf-d36df814 {
		text-align: center;
		 font-size: 14px;
		 margin-top: 8px;
	}
	.__pf .pf-4e46e601 {
		display: flex;
		 align-items: center;
		 place-content: center;
		 flex-direction: column;
	}
	.__pf .pf-7af649ab {
		display: block;
		 width: 100%;
		 padding-bottom: 70%;
		 height: 0px;
		 background-size: cover;
		 background-position: 50% 50%;
		 background-repeat: no-repeat;
		 background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-8202180c-1659-44d1-92fc-bfcfc388935b--pouring-latte-art-11.jpg?217556");
	}
	.__pf .pf-3aab92a9 {
		text-align: center;
		 font-size: 14px;
		 margin-top: 8px;
	}
	.__pf .pf-96287343 {
		display: flex;
		 align-items: center;
		 place-content: center;
		 flex-direction: column;
	}
	.__pf .pf-b1ca6723 {
		display: block;
		 width: 100%;
		 padding-bottom: 70%;
		 height: 0px;
		 background-size: cover;
		 background-position: 50% 50%;
		 background-repeat: no-repeat;
		 background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-1283579e-adfb-4fcc-ae9b-88154bb549b0--pouring-latte-art-8.jpg?217550");
		 margin-bottom: 0px;
	}
	.__pf .pf-7fd93eaf {
		text-align: center;
		 font-size: 14px;
		 margin-top: 8px;
	}
	.__pf .pf-9e4b6fbc {
		display: flex;
		 align-items: center;
		 place-content: center;
		 flex-direction: column;
	}
	.__pf .pf-3efc4076 {
		display: flex;
		 flex-direction: row;
		 align-items: flex-start;
	}
	.__pf .pf-ab0a6c2a {
		font-size: 18px;
		 line-height: 26px;
		 background-color: rgba(0, 0, 0, 0.4);
		 padding: 15px 50px;
	}
	.__pf .pf-f3110cd2 {
		text-align: center;
	}
	.__pf .pf-d217c226 {
		background-size: cover;
		 background-repeat: no-repeat;
		 border-style: solid;
		 border-width: 1px;
		 border-color: rgb(104, 67, 27);
		 background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-f1b7f569-0a9a-4770-afa8-67126cea0834--the-Barn-Latte-Art3.jpg?217558");
	}
	.__pf .pf-1aae2c84 {
		font-size: 18px;
		 line-height: 26px;
		 background-color: rgba(0, 0, 0, 0.4);
		 padding: 15px 50px;
	}
	.__pf .pf-2c25b3ed {
		text-align: center;
	}
	.__pf .pf-801dd5f8 {
		background-size: cover;
		 background-repeat: no-repeat;
		 border-style: solid;
		 border-width: 1px;
		 border-color: rgb(104, 67, 27);
		 background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-38869f08-ca22-4d97-853d-cc7767f9ef92--the-Barn-Latte-Art11.jpg?217560");
	}
	.__pf .pf-c058b147 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-dacd53b7-bc63-403a-be9f-d5f2bf6d1257--the-Barn-Latte-Art8.jpg?217581");
		 background-position: 50% 50%;
		 background-repeat: no-repeat;
		 background-size: cover;
	}
	.__pf .pf-77c0f6c7 {
		height: 700px;
	}
	.__pf .pf-ed273f56 {
		margin-top: 0px;
		 margin-bottom: 10px;
		 font-weight: 700;
	}
	.__pf .pf-62a72ae8 {
		background-color: rgb(104, 67, 27);
		 border-radius: 4px;
		 color: rgb(255, 255, 255);
		 text-transform: uppercase;
		 display: block;
		 width: 100%;
		 transition: all 150ms ease 0s;
		 margin-top: 25px;
	}
	.__pf .pf-62a72ae8:hover {
		background-color: rgba(104, 67, 27, 0.75);
	}
	.__pf .pf-e95c011d {
		margin-top: 5px;
		 margin-bottom: 0px;
		 width: 100%;
		 text-align: center;
		 color: rgba(255, 255, 255, 0.42);
		 font-size: 11px;
	}
	.__pf .pf-d833b744 {
		display: flex;
		 flex-direction: row;
		 align-items: center;
		 place-content: center;
	}
	.__pf .pf-f1ce4900 {
		background-color: rgba(0, 0, 0, 0);
		 color: rgb(152, 104, 48);
		 border-style: solid;
		 border-color: rgb(152, 104, 48);
		 border-width: 1px;
	}
	.__pf .pf-bde45103 {
		text-align: center;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-b3c1fea5 {
		font-size: 24px;
	}
	.__pf .pf-48a86cf2 {
		padding-top: 50px;
		 padding-bottom: 50px;
		 background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-d05b128c-18d3-41ac-9a1a-67969735e961--DSC5296.jpg?217675");
	}
	.__pf .pf-ef2a897d {
		font-size: 18px;
	}
	.__pf .pf-0c1ee11a {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-b913ee83-d42e-42f0-b324-0cd971e8a5f9--portafilter-1.jpg?217552");
	}
	.__pf .pf-6a191272 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-3e96c61c-cfc1-462f-81af-3df7ec87fdfd--grinding-2.JPG?217554");
	}
	.__pf .pf-7af649ab {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-8202180c-1659-44d1-92fc-bfcfc388935b--pouring-latte-art-11.jpg?217556");
	}
	.__pf .pf-b1ca6723 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-1283579e-adfb-4fcc-ae9b-88154bb549b0--pouring-latte-art-8.jpg?217550");
	}
	.__pf .pf-ab0a6c2a {
		font-size: 14px;
		 line-height: 22px;
	}
	.__pf .pf-d217c226 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-f1b7f569-0a9a-4770-afa8-67126cea0834--the-Barn-Latte-Art3.jpg?217558");
	}
	.__pf .pf-1aae2c84 {
		font-size: 14px;
		 line-height: 22px;
	}
	.__pf .pf-801dd5f8 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-38869f08-ca22-4d97-853d-cc7767f9ef92--the-Barn-Latte-Art11.jpg?217560");
	}
	.__pf .pf-c058b147 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-dacd53b7-bc63-403a-be9f-d5f2bf6d1257--the-Barn-Latte-Art8.jpg?217581");
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-48a86cf2 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-d05b128c-18d3-41ac-9a1a-67969735e961--DSC5296.jpg?217675");
	}
	.__pf .pf-0c1ee11a {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-b913ee83-d42e-42f0-b324-0cd971e8a5f9--portafilter-1.jpg?217552");
	}
	.__pf .pf-6a191272 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-3e96c61c-cfc1-462f-81af-3df7ec87fdfd--grinding-2.JPG?217554");
	}
	.__pf .pf-7af649ab {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-8202180c-1659-44d1-92fc-bfcfc388935b--pouring-latte-art-11.jpg?217556");
	}
	.__pf .pf-b1ca6723 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-1283579e-adfb-4fcc-ae9b-88154bb549b0--pouring-latte-art-8.jpg?217550");
	}
	.__pf .pf-d217c226 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-f1b7f569-0a9a-4770-afa8-67126cea0834--the-Barn-Latte-Art3.jpg?217558");
	}
	.__pf .pf-801dd5f8 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-38869f08-ca22-4d97-853d-cc7767f9ef92--the-Barn-Latte-Art11.jpg?217560");
	}
	.__pf .pf-c058b147 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-dacd53b7-bc63-403a-be9f-d5f2bf6d1257--the-Barn-Latte-Art8.jpg?217581");
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-48a86cf2 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-d05b128c-18d3-41ac-9a1a-67969735e961--DSC5296.jpg?217675");
	}
	.__pf .pf-ef2a897d {
		font-size: 24px;
	}
	.__pf .pf-0c1ee11a {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-b913ee83-d42e-42f0-b324-0cd971e8a5f9--portafilter-1.jpg?217552");
	}
	.__pf .pf-6a191272 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-3e96c61c-cfc1-462f-81af-3df7ec87fdfd--grinding-2.JPG?217554");
	}
	.__pf .pf-7af649ab {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-8202180c-1659-44d1-92fc-bfcfc388935b--pouring-latte-art-11.jpg?217556");
	}
	.__pf .pf-b1ca6723 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-1283579e-adfb-4fcc-ae9b-88154bb549b0--pouring-latte-art-8.jpg?217550");
	}
	.__pf .pf-d217c226 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-f1b7f569-0a9a-4770-afa8-67126cea0834--the-Barn-Latte-Art3.jpg?217558");
	}
	.__pf .pf-801dd5f8 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-38869f08-ca22-4d97-853d-cc7767f9ef92--the-Barn-Latte-Art11.jpg?217560");
	}
	.__pf .pf-c058b147 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-dacd53b7-bc63-403a-be9f-d5f2bf6d1257--the-Barn-Latte-Art8.jpg?217581");
	}
}
						