/* PageFly Element Styles */
					.fAMdVg::before, .fAMdVg::after { clear: both; display: block; content: ""; }
.jCTrmc__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.jCTrmc { padding: 15px 0px; position: relative; }
.jCTrmc .sc-hzDEsm { position: relative; }
.jCTrmc[data-container="true"] .sc-hzDEsm { padding: 0px 15px; width: 100%; margin: auto; }
.jCTrmc .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.bSJRsN { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; overflow: hidden; }
.bIROef { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bIROef { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bIROef { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .bIROef { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.hPSgdS { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .hPSgdS { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .hPSgdS { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .hPSgdS { padding: var(--pf-s-xs); }
}
.hJSrYv { position: relative; }
.cilIiP > a { color: inherit !important; }
.cilIiP > span { font-weight: inherit; text-decoration: inherit; }
.cilIiP { word-break: break-word; }
.cilIiP.pf-i--left i { margin-right: 0.3em; }
.cilIiP.pf-i--right i { margin-left: 0.3em; }
.cilIiP.pf-i--top i { margin-bottom: 0.5em; }
.cilIiP.pf-i--top > span, .cilIiP.pf-i--top > a { display: block; }
.cilIiP.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.cilIiP [class*="--diamond"] { margin-right: 1em; }
.ditGEd { display: inline-block; }
.ditGEd[contenteditable="true"] { user-select: text; }
.ditGEd { vertical-align: baseline; word-break: break-word; }
.ditGEd:focus { outline: none; }
.ditGEd::after { display: inline; }
.lgliwA { position: relative; }
.iyWsWK > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .iyWsWK[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable] { display: block; }
#editor-dnd-wrapper .iyWsWK[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable]:empty::after { display: inline; }
.iyWsWK[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.iyWsWK[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.iyWsWK.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.iyWsWK.dropcap--circle > span:first-child { border-radius: 100%; }
.iyWsWK:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.iyWsWK ol, .iyWsWK ul { list-style-position: inside; }
.iyWsWK blockquote { font-size: inherit; }
.cjJfjB[data-pf-type="ProductText"].no-product { text-decoration: none; }
.FMNVx { display: inline-block; border: none; outline: none; line-height: 1; padding: 0.7em 1.2em; cursor: pointer; text-align: center; background-color: rgb(235, 235, 235); text-decoration: none; position: relative; }
.FMNVx[disabled] { opacity: 0.7; }
.FMNVx.is-loading, .FMNVx.is-added { pointer-events: none; }
.FMNVx > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.FMNVx.pf-i--left i { margin-right: 0.3em; }
.FMNVx + .sc-hUfwpO, .FMNVx.pf-i--right i { margin-left: 0.3em; }
.kilsks { display: inline-flex; vertical-align: middle; }
.kilsks picture { width: 100%; }
.dSpQIS { position: relative; overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; vertical-align: middle; max-width: 100%; }
.dSpQIS img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; position: unset; }
.hUlMxv > a { color: inherit !important; }
.hUlMxv > span { font-weight: inherit; text-decoration: inherit; }
.hUlMxv { word-break: break-word; }
.hUlMxv.pf-i--left i { margin-right: 0.3em; }
.hUlMxv.pf-i--right i { margin-left: 0.3em; }
.hUlMxv.pf-i--top i { margin-bottom: 0.5em; }
.hUlMxv.pf-i--top > span, .hUlMxv.pf-i--top > a { display: block; }
.hUlMxv.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.hUlMxv [class*="--diamond"] { margin-right: 1em; }
.kMfcii { visibility: hidden; }
.hSDkMi.pfs--topLeft { display: flex; align-items: flex-start; -webkit-box-pack: start; justify-content: flex-start; }
.hSDkMi.pfs--topCenter { display: flex; align-items: flex-start; -webkit-box-pack: center; justify-content: center; }
.hSDkMi.pfs--topRight { display: flex; align-items: flex-start; -webkit-box-pack: end; justify-content: flex-end; }
.hSDkMi.pfs--middleLeft { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: start; justify-content: flex-start; }
.hSDkMi.pfs--center { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; }
.hSDkMi.pfs--middleRight { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: end; justify-content: flex-end; }
.hSDkMi.pfs--bottomLeft { display: flex; align-items: flex-end; -webkit-box-pack: start; justify-content: flex-start; }
.hSDkMi.pfs--bottomCenter { display: flex; align-items: flex-end; -webkit-box-pack: center; justify-content: center; }
.hSDkMi.pfs--bottomRight { display: flex; align-items: flex-end; -webkit-box-pack: end; justify-content: flex-end; }
.jvPHs { display: inline-block; line-height: 1; padding: 0.7em 1.2em; box-sizing: border-box; cursor: pointer; text-align: center; border: none; border-radius: 0px; text-decoration: none; position: relative; max-width: 100%; outline: none; vertical-align: middle; }
.jvPHs:hover, .jvPHs:active, .jvPHs:focus { color: inherit; text-decoration: none; }
.jvPHs > span { text-decoration: inherit; line-height: inherit; display: inline-block; max-width: 100%; }
.jvPHs[data-active="true"] { background: black; color: white; }
.jvPHs.pf-i--left i { margin-right: 0.3em; }
.jvPHs + .sc-iGrrsa, .jvPHs.pf-i--right i { margin-left: 0.3em; }
.jvPHs.pf-i--top i { margin-bottom: 0.5em; display: block; }
					/* PageFly Styles */
					
@media all {
	.__pf .pf-29c8f3ff {
		color: rgb(255, 255, 255);
		 text-align: center;
		 font-size: 50px;
	}
	.__pf .pf-3747ddee {
		background-color: rgb(155, 155, 155);
		 display: flex;
		 flex-direction: column;
		 align-items: center;
		 place-content: center;
		 padding: 150px 0px;
		 min-height: 500px;
		 background-position: 50% 35%;
		 background-size: cover;
		 background-repeat: no-repeat;
		 background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-5f28ccdf-e2db-4f3e-b7af-281c6bdae0b1--The-Barn-Brewing-Cupping29.jpg?219314");
	}
	.__pf .pf-b73f1b39 {
		text-align: justify;
		 text-align-last: center;
		 font-size: 18px;
		 padding-top: 40px;
	}
	.__pf .pf-506e4f90 {
		margin-top: 0px;
		 margin-bottom: 10px;
		 font-weight: 700;
		 font-size: 14px;
	}
	.__pf .pf-d97ddea3 {
		margin-top: 0px;
		 margin-bottom: 10px;
		 font-weight: 700;
		 font-size: 14px;
	}
	.__pf .pf-276388ff {
		margin-top: 0px;
		 margin-bottom: 10px;
		 font-weight: 700;
		 font-size: 14px;
	}
	.__pf .pf-09796e16 {
		margin-top: 0px;
		 margin-bottom: 10px;
		 font-weight: 700;
		 font-size: 14px;
	}
	.__pf .pf-bcf6d683 {
		margin-top: 0px;
		 margin-bottom: 10px;
		 font-weight: 700;
		 font-size: 14px;
	}
	.__pf .pf-b0e1acac {
		margin-top: 0px;
		 margin-bottom: 10px;
		 font-weight: 700;
		 font-size: 14px;
	}
	.__pf .pf-c773ff93 {
		background-color: rgb(104, 67, 27);
		 border-radius: 4px;
		 color: rgb(255, 255, 255);
		 text-transform: uppercase;
		 display: block;
		 width: 100%;
		 transition: all 150ms ease 0s;
		 margin-top: 25px;
	}
	.__pf .pf-c773ff93:hover {
		background-color: rgba(104, 67, 27, 0.75);
	}
	.__pf .pf-c456139f {
		margin-top: 5px;
		 margin-bottom: 0px;
		 width: 100%;
		 text-align: center;
		 color: rgba(255, 255, 255, 0.42);
		 font-size: 11px;
	}
	.__pf .pf-8625b609 {
		justify-content: center;
		 align-items: center;
		 width: 100%;
	}
	.__pf .pf-f0cc2184 {
		display: flex;
		 justify-content: flex-end;
	}
	.__pf .pf-33117465 {
		display: flex;
		 flex-direction: row;
		 align-items: center;
		 place-content: center;
	}
	.__pf .pf-6cdf3cb5 {
		text-align: center;
		 font-size: 25px;
	}
	.__pf .pf-44a63164 {
		display: block;
		 width: 100%;
		 padding-bottom: 70%;
		 height: 0px;
		 background-size: cover;
		 background-position: 50% 50%;
		 background-repeat: no-repeat;
		 background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-2ca9dbc1-7894-422b-95b5-9fdc6dab3efb--The-Barn-Brewing-Cupping28.jpg?219308");
	}
	.__pf .pf-29e6897f {
		text-align: center;
		 font-size: 14px;
		 margin-top: 8px;
	}
	.__pf .pf-02953864 {
		display: flex;
		 align-items: center;
		 place-content: center;
		 flex-direction: column;
	}
	.__pf .pf-14798398 {
		display: block;
		 width: 100%;
		 padding-bottom: 70%;
		 height: 0px;
		 background-size: cover;
		 background-position: 50% 50%;
		 background-repeat: no-repeat;
		 background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-1805f61d-2bf4-4f76-bd65-dfa2e879bdfc--umamiclear.jpg?217634");
	}
	.__pf .pf-f0b3b316 {
		text-align: center;
		 font-size: 14px;
		 margin-top: 8px;
	}
	.__pf .pf-37feb48f {
		display: flex;
		 align-items: center;
		 place-content: center;
		 flex-direction: column;
	}
	.__pf .pf-20435ad7 {
		display: block;
		 width: 100%;
		 padding-bottom: 70%;
		 height: 0px;
		 background-size: cover;
		 background-position: 50% 50%;
		 background-repeat: no-repeat;
		 background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-2ac4700a-e76f-4ba5-9ab6-a08d16d53fff--The-Barn-Brewing-Cupping11.jpg?219372");
	}
	.__pf .pf-fe15f5d2 {
		text-align: center;
		 font-size: 14px;
		 margin-top: 8px;
	}
	.__pf .pf-5bbc84ce {
		display: flex;
		 align-items: center;
		 place-content: center;
		 flex-direction: column;
	}
	.__pf .pf-ea07876c {
		display: block;
		 width: 100%;
		 padding-bottom: 70%;
		 height: 0px;
		 background-size: cover;
		 background-position: 50% 50%;
		 background-repeat: no-repeat;
		 background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-b668f374-cec4-42a2-b20e-59015a35b02b--The-Barn-Espresso-Shot9.jpg?219336");
		 margin-bottom: 0px;
	}
	.__pf .pf-6c523e41 {
		text-align: center;
		 font-size: 14px;
		 margin-top: 8px;
	}
	.__pf .pf-f5271c3f {
		display: flex;
		 align-items: center;
		 place-content: center;
		 flex-direction: column;
	}
	.__pf .pf-210d6aed {
		display: flex;
		 flex-direction: row;
		 align-items: flex-start;
	}
	.__pf .pf-a2b8ca7c {
		text-align: justify;
		 text-align-last: center;
		 font-size: 21px;
		 padding-top: 40px;
	}
	.__pf .pf-d0adb0c3 {
		background-color: rgb(155, 155, 155);
		 display: flex;
		 flex-direction: column;
		 align-items: center;
		 place-content: center;
		 padding: 120px 0px;
		 min-height: 400px;
		 background-position: 50% 50%;
		 background-size: cover;
		 background-repeat: no-repeat;
		 background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-8b6a92ea-ddbd-4847-9c94-0966ffd69396--background.jpg?219502");
	}
	.__pf .pf-f6d5befa {
		font-size: 18px;
		 line-height: 26px;
		 background-color: rgba(0, 0, 0, 0.4);
		 padding: 15px 50px;
	}
	.__pf .pf-cdf25829 {
		text-align: center;
	}
	.__pf .pf-a258d048 {
		background-size: cover;
		 background-repeat: no-repeat;
		 border-style: solid;
		 border-width: 1px;
		 border-color: rgb(104, 67, 27);
		 background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-f1b7f569-0a9a-4770-afa8-67126cea0834--the-Barn-Latte-Art3.jpg?217558");
	}
	.__pf .pf-267e2cdf {
		font-size: 18px;
		 line-height: 26px;
		 background-color: rgba(0, 0, 0, 0.4);
		 padding: 15px 50px;
	}
	.__pf .pf-8706b3ed {
		text-align: center;
	}
	.__pf .pf-c4a911b0 {
		background-size: cover;
		 background-repeat: no-repeat;
		 border-style: solid;
		 border-width: 1px;
		 border-color: rgb(104, 67, 27);
		 background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-38869f08-ca22-4d97-853d-cc7767f9ef92--the-Barn-Latte-Art11.jpg?217560");
	}
	.__pf .pf-84fa8111 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-2ac4700a-e76f-4ba5-9ab6-a08d16d53fff--The-Barn-Brewing-Cupping11.jpg?219372");
		 background-position: 50% 50%;
		 background-repeat: no-repeat;
		 background-size: cover;
	}
	.__pf .pf-94645856 {
		height: 700px;
	}
	.__pf .pf-098b23d7 {
		margin-top: 0px;
		 margin-bottom: 10px;
		 font-weight: 700;
	}
	.__pf .pf-c96dbe56 {
		background-color: rgb(104, 67, 27);
		 border-radius: 4px;
		 color: rgb(255, 255, 255);
		 text-transform: uppercase;
		 display: block;
		 width: 100%;
		 transition: all 150ms ease 0s;
		 margin-top: 25px;
	}
	.__pf .pf-c96dbe56:hover {
		background-color: rgba(104, 67, 27, 0.75);
	}
	.__pf .pf-de299f88 {
		margin-top: 5px;
		 margin-bottom: 0px;
		 width: 100%;
		 text-align: center;
		 color: rgba(255, 255, 255, 0.42);
		 font-size: 11px;
	}
	.__pf .pf-fb424a7d {
		display: flex;
		 flex-direction: row;
		 align-items: center;
		 place-content: center;
	}
	.__pf .pf-6118f715 {
		max-width: 70px;
		 margin: 20px;
	}
	.__pf .pf-53057b04 {
		max-width: 130px;
		 margin: 20px;
	}
	.__pf .pf-3b9f0f0b {
		display: flex;
		 flex-flow: row wrap;
		 align-items: center;
		 place-content: center;
	}
	.__pf .pf-736e0fc0 {
		background-color: rgba(0, 0, 0, 0);
		 color: rgb(152, 104, 48);
		 border-style: solid;
		 border-color: rgb(152, 104, 48);
		 border-width: 1px;
	}
	.__pf .pf-499d80eb {
		text-align: center;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-29c8f3ff {
		font-size: 24px;
	}
	.__pf .pf-3747ddee {
		padding-top: 50px;
		 padding-bottom: 50px;
		 background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-5f28ccdf-e2db-4f3e-b7af-281c6bdae0b1--The-Barn-Brewing-Cupping29.jpg?219314");
	}
	.__pf .pf-b73f1b39 {
		font-size: 16px;
	}
	.__pf .pf-4a7135cf {
		padding: 0px 15px;
	}
	.__pf .pf-44a63164 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-2ca9dbc1-7894-422b-95b5-9fdc6dab3efb--The-Barn-Brewing-Cupping28.jpg?219308");
	}
	.__pf .pf-14798398 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-1805f61d-2bf4-4f76-bd65-dfa2e879bdfc--umamiclear.jpg?217634");
	}
	.__pf .pf-20435ad7 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-2ac4700a-e76f-4ba5-9ab6-a08d16d53fff--The-Barn-Brewing-Cupping11.jpg?219372");
	}
	.__pf .pf-ea07876c {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-b668f374-cec4-42a2-b20e-59015a35b02b--The-Barn-Espresso-Shot9.jpg?219336");
	}
	.__pf .pf-a2b8ca7c {
		font-size: 16px;
	}
	.__pf .pf-56133f18 {
		padding: 0px 15px;
	}
	.__pf .pf-d0adb0c3 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-8b6a92ea-ddbd-4847-9c94-0966ffd69396--background.jpg?219502");
	}
	.__pf .pf-f6d5befa {
		font-size: 14px;
		 line-height: 22px;
	}
	.__pf .pf-a258d048 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-f1b7f569-0a9a-4770-afa8-67126cea0834--the-Barn-Latte-Art3.jpg?217558");
	}
	.__pf .pf-267e2cdf {
		font-size: 14px;
		 line-height: 22px;
	}
	.__pf .pf-c4a911b0 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-38869f08-ca22-4d97-853d-cc7767f9ef92--the-Barn-Latte-Art11.jpg?217560");
	}
	.__pf .pf-84fa8111 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-2ac4700a-e76f-4ba5-9ab6-a08d16d53fff--The-Barn-Brewing-Cupping11.jpg?219372");
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-3747ddee {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-5f28ccdf-e2db-4f3e-b7af-281c6bdae0b1--The-Barn-Brewing-Cupping29.jpg?219314");
	}
	.__pf .pf-b73f1b39 {
		margin: 0px auto;
		 font-size: 20px;
	}
	.__pf .pf-4a7135cf {
		margin: 0px auto;
	}
	.__pf .pf-a130e7df {
		max-width: 950px;
		 margin: 0px auto;
	}
	.__pf .pf-5333bc61 {
		text-align: center;
	}
	.__pf .pf-44a63164 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-2ca9dbc1-7894-422b-95b5-9fdc6dab3efb--The-Barn-Brewing-Cupping28.jpg?219308");
	}
	.__pf .pf-14798398 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-1805f61d-2bf4-4f76-bd65-dfa2e879bdfc--umamiclear.jpg?217634");
	}
	.__pf .pf-20435ad7 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-2ac4700a-e76f-4ba5-9ab6-a08d16d53fff--The-Barn-Brewing-Cupping11.jpg?219372");
	}
	.__pf .pf-ea07876c {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-b668f374-cec4-42a2-b20e-59015a35b02b--The-Barn-Espresso-Shot9.jpg?219336");
	}
	.__pf .pf-a2b8ca7c {
		margin: 0px auto;
		 font-size: 20px;
	}
	.__pf .pf-56133f18 {
		margin: 0px auto;
	}
	.__pf .pf-06ce9d20 {
		max-width: 950px;
		 margin: 0px auto;
	}
	.__pf .pf-1b076a11 {
		text-align: center;
	}
	.__pf .pf-d0adb0c3 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-8b6a92ea-ddbd-4847-9c94-0966ffd69396--background.jpg?219502");
	}
	.__pf .pf-a258d048 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-f1b7f569-0a9a-4770-afa8-67126cea0834--the-Barn-Latte-Art3.jpg?217558");
	}
	.__pf .pf-c4a911b0 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-38869f08-ca22-4d97-853d-cc7767f9ef92--the-Barn-Latte-Art11.jpg?217560");
	}
	.__pf .pf-84fa8111 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-2ac4700a-e76f-4ba5-9ab6-a08d16d53fff--The-Barn-Brewing-Cupping11.jpg?219372");
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-3747ddee {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-5f28ccdf-e2db-4f3e-b7af-281c6bdae0b1--The-Barn-Brewing-Cupping29.jpg?219314");
	}
	.__pf .pf-b73f1b39 {
		font-size: 18px;
	}
	.__pf .pf-a130e7df {
		padding: 0px 30px;
	}
	.__pf .pf-44a63164 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-2ca9dbc1-7894-422b-95b5-9fdc6dab3efb--The-Barn-Brewing-Cupping28.jpg?219308");
	}
	.__pf .pf-14798398 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-1805f61d-2bf4-4f76-bd65-dfa2e879bdfc--umamiclear.jpg?217634");
	}
	.__pf .pf-20435ad7 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-2ac4700a-e76f-4ba5-9ab6-a08d16d53fff--The-Barn-Brewing-Cupping11.jpg?219372");
	}
	.__pf .pf-ea07876c {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-b668f374-cec4-42a2-b20e-59015a35b02b--The-Barn-Espresso-Shot9.jpg?219336");
	}
	.__pf .pf-a2b8ca7c {
		font-size: 18px;
	}
	.__pf .pf-06ce9d20 {
		padding: 0px 30px;
	}
	.__pf .pf-d0adb0c3 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-8b6a92ea-ddbd-4847-9c94-0966ffd69396--background.jpg?219502");
	}
	.__pf .pf-a258d048 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-f1b7f569-0a9a-4770-afa8-67126cea0834--the-Barn-Latte-Art3.jpg?217558");
	}
	.__pf .pf-c4a911b0 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-38869f08-ca22-4d97-853d-cc7767f9ef92--the-Barn-Latte-Art11.jpg?217560");
	}
	.__pf .pf-84fa8111 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-2ac4700a-e76f-4ba5-9ab6-a08d16d53fff--The-Barn-Brewing-Cupping11.jpg?219372");
	}
}