/* PageFly Element Styles */
						.kuwSuz { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.kuwSuz i { margin-right: 0.3em; }
.kuwSuz:hover, .kuwSuz:active, .kuwSuz:focus, .kuwSuz span { color: inherit; }
.kuwSuz span { display: initial; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.fLDHlO { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.fLDHlO img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.bgMQOP { position: relative; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.gtZHgp { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; overflow: hidden; }
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.HrWqm > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable] { display: block; }
#editor-dnd-wrapper .HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable]:empty::after { display: inline; }
.HrWqm[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.HrWqm.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.HrWqm.dropcap--circle > span:first-child { border-radius: 100%; }
.HrWqm:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.HrWqm ol, .HrWqm ul { list-style-position: inside; }
.HrWqm blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.bjcxym { margin-bottom: 20px; }
.bjcxym label sup { color: red; margin-left: 3px; }
.bjcxym:last-child { margin-bottom: 0px; }
.bjcxym input[type="checkbox"], .bjcxym input[type="radio"] { margin-right: 5px; margin-top: 10px; }
.bjcxym input[type="checkbox"]:first-child, .bjcxym input[type="radio"]:first-child, .bjcxym input[type="email"]:first-child { margin-top: 0px; }
.bjcxym .pf-form__field { box-shadow: none; outline: none; width: 100%; }
.bjcxym .pf-form__field[type="checkbox"], .bjcxym .pf-form__field[type="radio"] { width: auto; }
.bjcxym label { width: 100%; }
.bjcxym.pf-form__field-wrap { display: flex; flex-wrap: wrap; }
.bjcxym .pf-form__field-element { width: 100%; }
.bjcxym.pf-form--label-left, .bjcxym.pf-form--label-right { flex-wrap: nowrap; }
.bjcxym.pf-form--label-left label, .bjcxym.pf-form--label-right label { width: 200px; margin-right: 20px; margin-bottom: 0px; }
.bjcxym.pf-form--label-right { flex-direction: row-reverse; }
.bjcxym.pf-form--label-right label { margin: 0px 0px 0px 20px; }
.bjcxym.pf-form--label-above label { margin: 0px 0px 10px; }
.bjcxym.pf-form--label-below { flex-direction: column-reverse; }
.bjcxym.pf-form--label-below label { margin: 10px 0px 0px; }
.hZlDbV .pf-form__field, .hZlDbV .pf-form__submit { pointer-events: initial; }
.hZlDbV .pf-form-success { color: red; font-weight: bold; border: 1px solid rgb(89, 172, 108); padding: 10px; }
.hZlDbV .pf-form__notice { margin-bottom: 20px; }
.hZlDbV .pf-form__notice span, .hZlDbV .pf-form__notice sup { color: red; }
.hZlDbV .pf-form--center { text-align: center; }
.hZlDbV .pf-form--right { text-align: right; }
.hZlDbV .pf-form__submit { background-color: rgb(45, 45, 45); color: rgb(255, 255, 255); }
.hZlDbV .pf-form__submit:hover { opacity: 0.9; }
.hZlDbV .pf-form__submit i { margin-right: 10px; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-725f003c {
		color: rgb(255, 255, 255);
		 font-size: 48px;
		 border-style: none;
		 border-width: 0px 0px 2px;
		 border-color: rgb(104, 67, 27);
		 text-align: left;
	}
	.__pf .pf-63610d1b {
		text-align: left;
		 padding-right: 0px;
		 padding-left: 0px;
		 color: white;
	}
	.__pf .pf-5b79a8f0 {
		background-color: rgb(152, 104, 48);
		 color: rgb(255, 255, 255);
		 display: inline-block;
		 margin: 0px auto;
	}
	.__pf .pf-5b79a8f0:hover {
		background-color: rgba(152, 104, 48, 0.89);
		 transition: background-color 100ms ease 0s;
	}
	.__pf .pf-f5d98b87 {
		padding: 25px 30px;
	}
	.__pf .pf-223f205c {
		height: 100%;
		 width: auto;
		 margin-left: 0px;
		 margin-right: auto;
		 background-color: rgba(0, 0, 0, 0.4);
	}
	.__pf .pf-c0b2f902 {
		min-height: 500px;
		 background-position: 50% 100%;
		 background-repeat: no-repeat;
		 background-size: cover;
		 padding-bottom: 150px;
		 padding-top: 0px;
		 height: 96vh;
		 background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-28e5485c-a168-4d33-9847-4cd8acc345e3--pf-4912ed40-b98e-48ef-9799-f9fe3c1b59e1-infividual.jpg?218141");
		 display: flex;
		 flex-flow: column wrap;
		 align-items: center;
		 place-content: center;
	}
	.__pf .pf-aec9d8a9 {
		justify-content: center;
		 align-items: center;
		 width: 80px;
	}
	.__pf .pf-a70401eb {
		color: rgb(0, 0, 0);
		 text-align: center;
		 margin-top: 10px;
		 font-size: 25px;
	}
	.__pf .pf-a4e9c6b4 {
		color: rgb(0, 0, 0);
		 text-align: center;
	}
	.__pf .pf-d2dd1dfa {
		min-height: 300px;
		 background-color: rgb(255, 255, 255);
		 display: flex;
		 flex-direction: column;
		 align-items: center;
		 place-content: center;
		 padding: 40px 30px;
	}
	.__pf .pf-da1ef2fa {
		justify-content: center;
		 align-items: center;
		 width: 80px;
	}
	.__pf .pf-6e487d85 {
		color: rgb(0, 0, 0);
		 text-align: center;
		 margin-top: 10px;
		 font-size: 25px;
	}
	.__pf .pf-e79c02bb {
		color: rgb(0, 0, 0);
		 text-align: center;
	}
	.__pf .pf-0b36d592 {
		min-height: 300px;
		 background-color: rgb(255, 255, 255);
		 display: flex;
		 flex-direction: column;
		 align-items: center;
		 place-content: center;
		 padding: 40px 30px;
	}
	.__pf .pf-138dacaa {
		justify-content: center;
		 align-items: center;
		 width: 80px;
	}
	.__pf .pf-c424a867 {
		color: rgb(0, 0, 0);
		 text-align: center;
		 margin-top: 10px;
		 font-size: 25px;
	}
	.__pf .pf-a98f1489 {
		color: rgb(0, 0, 0);
		 text-align: center;
		 font-size: 16px;
	}
	.__pf .pf-13ca67e1 {
		min-height: 300px;
		 background-color: rgb(255, 255, 255);
		 display: flex;
		 flex-direction: column;
		 align-items: center;
		 place-content: center;
		 padding: 40px 30px;
	}
	.__pf .pf-7c4a2ad7 {
		margin-top: 70px;
		 margin-bottom: 70px;
	}
	.__pf .pf-a0aa0c5d {
		color: rgb(104, 67, 27);
		 text-align: center;
	}
	.__pf .pf-1a60a44f {
		text-align: center;
	}
	.__pf .pf-0afe15ff {
		border-style: solid;
		 border-color: rgb(104, 67, 27);
		 border-width: 1px;
		 min-height: 400px;
		 display: flex;
		 flex-direction: column;
		 align-items: center;
		 place-content: center;
		 padding: 30px;
	}
	.__pf .pf-afede706 {
		color: rgb(104, 67, 27);
		 text-align: center;
	}
	.__pf .pf-5c93c7f9 {
		text-align: center;
	}
	.__pf .pf-b3365403 {
		border-style: solid;
		 border-width: 1px;
		 border-color: rgb(104, 67, 27);
		 min-height: 600px;
		 display: flex;
		 flex-direction: column;
		 align-items: center;
		 place-content: center;
		 padding: 30px;
	}
	.__pf .pf-d22fb786 {
		color: rgb(104, 67, 27);
		 text-align: center;
	}
	.__pf .pf-750b1cd4 {
		text-align: center;
	}
	.__pf .pf-4cb0d7d8 {
		border-style: solid;
		 border-color: rgb(104, 67, 27);
		 border-width: 1px;
		 min-height: 400px;
		 display: flex;
		 flex-direction: column;
		 align-items: center;
		 place-content: center;
		 padding: 30px;
	}
	.__pf .pf-39b395ab {
		display: flex;
		 flex-direction: row;
		 align-items: center;
		 place-content: center;
	}
	.__pf .pf-c38363c3 {
		font-size: 36px;
		 color: rgb(255, 255, 255);
		 background-color: rgba(0, 0, 0, 0.4);
		 padding: 10px;
	}
	.__pf .pf-cc02920b {
		text-align: center;
	}
	.__pf .pf-84424fb0 {
		background-size: cover;
		 background-repeat: no-repeat;
		 border-style: none;
		 border-width: 1px;
		 border-color: rgb(104, 67, 27);
	}
	.__pf .pf-54bcd0b6 {
		font-size: 36px;
		 color: rgb(255, 255, 255);
		 background-color: rgba(0, 0, 0, 0.4);
		 padding: 10px;
		 text-transform: uppercase;
	}
	.__pf .pf-b7e747e1 {
		text-align: center;
	}
	.__pf .pf-ccf34bd9 {
		background-size: cover;
		 background-repeat: no-repeat;
		 border-style: none;
		 border-width: 1px;
		 border-color: rgb(104, 67, 27);
	}
	.__pf .pf-eca8f8cd {
		font-size: 36px;
		 color: rgb(255, 255, 255);
		 background-color: rgba(0, 0, 0, 0.4);
		 padding: 10px;
		 text-transform: uppercase;
	}
	.__pf .pf-c374200c {
		text-align: center;
	}
	.__pf .pf-9e949e10 {
		background-size: cover;
		 background-repeat: no-repeat;
		 border-style: none;
		 border-width: 1px;
		 border-color: rgb(104, 67, 27);
	}
	.__pf .pf-e2507360 {
		height: 300px;
	}
	.__pf .pf-86c5a611 {
		background-size: cover;
		 background-repeat: no-repeat;
		 background-position: 50% 0%;
		 padding-top: 70px;
		 padding-bottom: 70px;
		 margin-top: 40px;
		 margin-bottom: 0px;
		 background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-b805ad23-5389-4be4-b622-0dc09fb50a51--e2.jpg?218154");
	}
	.__pf .pf-95286075 {
		text-align: center;
		 font-size: 36px;
	}
	.__pf .pf-b57daecf > form > div > div > .pf-form__submit {
		user-select: none;
		 -webkit-appearance: none;
		 display: inline-block;
		 width: auto;
		 text-decoration: none;
		 text-align: center;
		 vertical-align: middle;
		 cursor: pointer;
		 border: 1px solid transparent;
		 border-radius: 2px;
		 padding: 8px 15px;
		 background-color: rgb(104, 67, 27);
		 color: rgb(255, 255, 255);
		 font-family: Raleway, sans-serif;
		 font-style: normal;
		 font-weight: 600;
		 text-transform: uppercase;
		 letter-spacing: 0.08em;
		 white-space: normal;
		 font-size: 14px;
	}
	.__pf .pf-78384edd {
		margin-top: 15px;
		 margin-bottom: 40px;
		 padding-top: 80px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-223f205c {
		width: 100%;
	}
	.__pf .pf-c0b2f902 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-28e5485c-a168-4d33-9847-4cd8acc345e3--pf-4912ed40-b98e-48ef-9799-f9fe3c1b59e1-infividual.jpg?218141");
	}
	.__pf .pf-c38363c3 {
		font-size: 24px;
	}
	.__pf .pf-54bcd0b6 {
		font-size: 24px;
	}
	.__pf .pf-eca8f8cd {
		font-size: 24px;
	}
	.__pf .pf-86c5a611 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-b805ad23-5389-4be4-b622-0dc09fb50a51--e2.jpg?218154");
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-c0b2f902 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-28e5485c-a168-4d33-9847-4cd8acc345e3--pf-4912ed40-b98e-48ef-9799-f9fe3c1b59e1-infividual.jpg?218141");
	}
	.__pf .pf-86c5a611 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-b805ad23-5389-4be4-b622-0dc09fb50a51--e2.jpg?218154");
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-223f205c {
		width: 100%;
	}
	.__pf .pf-c0b2f902 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-28e5485c-a168-4d33-9847-4cd8acc345e3--pf-4912ed40-b98e-48ef-9799-f9fe3c1b59e1-infividual.jpg?218141");
	}
	.__pf .pf-86c5a611 {
		background-image: url("https://cdn.shopify.com/s/files/1/0831/4141/t/144/assets/pf-b805ad23-5389-4be4-b622-0dc09fb50a51--e2.jpg?218154");
	}
}
						